body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    background: linear-gradient(rgba(60, 40, 80, 0.8), rgba(50, 200, 150, 0.4)), url(../img/backgroundAurora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

#sortable1,
#sortable2,
#sortable3 {
    /*list-style-type: none;
            margin: 0;
            float: left;
            margin-right: 10px;
            background: #eee;
            padding: 5px;
            width: 143px;*/
    list-style-type: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /*background: rgba(240, 240, 230, 0.8);*/
    background: none;
    /*
            background-size: cover;
            background-attachment: fixed;
*/
    height: 340px;
    border-radius: 5px;
    /*box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.1);*/
    margin: 10px 10px 0 10px;
    padding: 25px;
    /*cancel out the default padding of 40px*/
    transition: background 0.5s, box-shadow 2s;
    transition-timing-function: linear;
    /*translateZ speed hack; misplaced elements when dragged, however*/
    /*transform: translateZ(0);*/
}


/*css zoom doesn't work in firefox though; besides, can create mouse placement problems; not a real solution*/


/*#sortable3 {
    zoom: 110%;
    
}

#sortable1 {
    zoom: 80%;
}*/

#sortable1:hover,
#sortable2:hover,
#sortable3:hover {
    background: rgba(200, 240, 230, 0.1);
    /*these background properties seem to perform horribly in transition*/
    /*
            background-image: url(../img/backgroundBoard.svg);
            background-attachment: fixed;
            background-size: cover;
*/
    /*            box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.1);*/
}

#sortable1:hover {
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.1), 0 10px 100px 5px rgba(100, 220, 120, 0.2), inset 0 10px 100px 5px rgba(100, 220, 120, 0.2);
}

#sortable3:hover {
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.1), 0 -10px 100px 5px rgba(100, 220, 120, 0.2), inset 0 -10px 100px 5px rgba(100, 220, 120, 0.2);
}


/*
        #sortable1::after,
        #sortable2::after,
        #sortable3::after {
            content: '';
            display: block;
            float: left;
            height: inherit;
            width: inherit;
            box-shadow: inset 0 3px 2px 5px rgba(0, 0, 0, 0.5);
        }
*/

#sortable1 li,
#sortable2 li,
#sortable3 li {
    /*margin: 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;*/
    margin: 10px 10px 10px 0;
    /*float: left;*/
    height: 300px;
    width: 200px;
    font-size: 1em;
    text-align: center;
    background: white;
    border-radius: 10px;
    display: inline-block;
    white-space: normal;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

#sortable1 li:hover,
#sortable2 li:hover,
#sortable3 li:hover {
    box-shadow: 0px 3px 15px 5px rgba(100, 50, 120, 0.5), inset 0 0 30px rgba(100, 220, 120, 0.3);
    background: linear-gradient(rgba(45, 40, 60, 0.9), rgba(200, 100, 100, 0.4)), url(../img/backgroundCard.jpg);
    background-size: cover;
    color: white;
    border-color: rgba(100, 220, 120, 0.4);
    cursor: grab;
    cursor: -webkit-grab;
}

#sortable1 li:hover div,
#sortable2 li:hover div,
#sortable3 li:hover div {
    color: white;
}

#sortable1 li:hover #cardArt,
#sortable2 li:hover #cardArt,
#sortable3 li:hover #cardArt {
    border-width: 1px;
    border-color: rgba(100, 220, 120, 0.9);
    box-shadow: 0 0 50px 10px rgba(50, 220, 0, 0.3), inset 0 0 0 10px rgba(100, 220, 120, 0.3), inset 0 0 20px 20px rgba(100, 220, 120, 0.3);
    transform: scale(1.03);
}


/*card content container*/

#sortable1 li:active,
#sortable2 li:active,
#sortable3 li:active {
    transform: scale3d(1.2, 1.2, 1);
    /*transform: perspective(600px);
*/
    cursor: grabbing;
    cursor: -webkit-grabbing;
}


/*fix for firefox :active suppression by sortable*/


/*
        .ui-sortable-active {
            transform: scale(1.2);
        }
*/

.cardContent {
    height: 300px;
    /*horizontally centering the div*/
    margin: auto;
    padding: 5px;
    display: table;
    text-align: center;
}

.middleLine {
    height: 3px;
    border-style: none;
    border-radius: 50%;
    border-width: thin;
    margin: 10px 20px 0 20px;
    border-color: rgba(160, 240, 180, 0.5);
    box-shadow: 0 0 50px 10px rgba(50, 220, 0, 0.3), 0 0 15px rgba(160, 240, 180, 0.8);
    background: radial-gradient(rgba(200, 255, 220, 0.6), rgba(160, 240, 180, 0.9), rgba(50, 220, 0, 0.6));
}